/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* css reset file */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: "Proxima", Arial, Helvetica, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
    list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

.mainnav {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.leftnav > ul > li > a {
    font-weight: bold;
    font-size: 20px;
    color: dimgray;
}

.leftnav > ul > li > a:hover {
    color: coral;
}

.rightnav > ul > li > a {
    color: coral;
    padding-right: 80px;
    font-size: 20px;   
}

.rightnav > ul > li > a:hover {
    color: dimgray;
}

.contacts {
    margin: 20px 150px 0px 150px;
}

.contacts > li {
    display: flex;
    padding: 10px 0px;
    color: dimgray;
    border-bottom: 1px solid whitesmoke;
}

.contacts > li > a:hover {
    color: coral;
}

.contacts > li > a, .contact > div > ul > li {
    padding: 20px 0px;
    margin: 0px 100px 0px 50px;
    color: dimgray;
}

.contact > div > ul > li {
    border-bottom: 1px solid whitesmoke;
}

.contacts > li > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.contact > div > ul {
    padding-bottom: 40px;   
}

.contact > span > a {
    color: coral;
    cursor: pointer;
    padding: 40px;
    font-size: 20px;
}

.contact > span > a:hover {
    color: dimgray;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: dimgray;
}

.contact > div > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    color: dimgray;
}

.form > div > a {
    color: coral;
    cursor: pointer;
    padding: 40px;
    font-size: 16px;

}
.form > div > a:hover {
    color: dimgray;
}

.form > label {
    padding-top: 20px; 
}

.form > input[type="text"] {
    padding: 5px;
    font-size: 16px;
    width: 70%;
    outline: 0;
    border: 0;
    border-bottom: 1px solid lightgray;
}

.form > div > input[type="submit"] {
    color: coral;
    padding: 40px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
}

.form > div > input[type="submit"]:hover {
    color: dimgray;
}

.form > div {
    color: red;
    font-size: 14px;
    padding: 10px 0px;
}
.form > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}